*

!*/
!.config/
!.config/noctalia/
!.confog/niri/
!.config/rofi/
!.config/kitty/
!.config/kitty/themes/
!.config/wallpapers/sequoia.png

!.config/niri/config.kdl
!.config/niri/noctalia.kdl
!.config/rofi/config.rasi
!.config/rofi/theme.rasi
!.config/kitty/kitty.conf
!.config/kitty/current-theme.conf
!.config/kitty/themes/noctalia.conf
!.config/noctalia/noctalia-config.toml

!.gitignore
