layout {

    focus-ring {
        active-color   "#a4b5a3"
        inactive-color "#1c211c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#a4b5a3"
        inactive-color "#1c211c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1c211c70"
    }

    tab-indicator {
        active-color   "#a4b5a3"
        inactive-color "#485f46"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#a4b5a380"
    }
}

recent-windows {
    highlight {
        active-color "#a4b5a3"
        urgent-color "#fd4663"
    }
}
